<!DOCTYPE html>
<html>
<head>
    <title>SR Mornitoring System</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script language="javascript">
        function loadMainPage() {
        }

        var map;

        function initMap() {


            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 35.232136 , lng:129.083543},
                zoom: 15
            });


            //{% for i in data %}
            //{{ i["sns"] }}
            //{% endfor %}


            var myLatlng = new google.maps.LatLng(35.232136,129.083543);
            var marker = new google.maps.Marker({
                position: myLatlng
            });
            var infowindow = new google.maps.InfoWindow({
											content: "안뇽하세용 자전거 휠 입니다"
			});
            marker.setMap(map);
            infowindow.open(map, marker);
            marker.addListener('click', function() {
                infowindow.open(map, marker);
            });




            var myLatlng2 = new google.maps.LatLng(35.230150,129.074560);
            var marker2 = new google.maps.Marker({
                position: myLatlng2
            });
            var infowindow2 = new google.maps.InfoWindow({
											content: "이건 sns라고 하는거야"
			});
            marker2.setMap(map);
            infowindow2.open(map, marker2);
            marker2.addListener('click', function() {
                infowindow.open(map, marker2);
            });



            var myLatlng3 = new google.maps.LatLng(35.236136,129.093543);
            var marker3 = new google.maps.Marker({
                position: myLatlng3
            });
            var infowindow3 = new google.maps.InfoWindow({
											content: "sns로 통하는 세상"
			});
            marker3.setMap(map);
            infowindow3.open(map, marker3);
            marker3.addListener('click', function() {
                infowindow3.open(map, marker3);
            });






        }






    </script>


</head>
<body style=' background: white ' onload="loadMainPage()">


<div class="container">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img alt="Brand" width="30px" height="30px" src="/static/images/placeholder.png">
                    Smart-Riding admin system</a>
            </div>
            <div class="collapse navbar-collapse ">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/#">Information</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="jumbotron" style=' background-image:url("/static/images/bike_background.jpg");'>
        <h1>Mornitoring System</h1>
        <p>
            <font style='background: rgba(225, 225, 225, .7);'> - "LoRa통신을 활용한 사물인터넷 전동휠 추적 서비스" 모니터링 페이지 입니다.</font>
        </p>
    </div>


    <h1 class="page-header"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>&nbsp;전동휠 위치 Google
        Map</h1>


    <div id="map" style="width:100%;height:500px;"></div>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAhL4TBUX1yFnwJ9n3fLrCcMsWIKmGQ6cA&callback=initMap"
            async defer></script>


    <h1 class="page-header"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;사용자 리스트</h1>



    <table class="table table-hover">
        <thead>
        <tr>
            <th>사용자 아이디</th>
            <th>최근 실행 시간</th>
            <th>SNS</th>
        </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr>
                <td>{{ i["id"] }}</td><td>None</td></td><td>{{ i["sns"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>







    <hr>
    <footer>
        <dl class="dl-horizontal">
            <dt><img src="/static/images/pnu_logo.jpg"/></dt>
            <dd>
                <p>
                    <strong>&copy; 2016 금정산 라이더스. All rights reserved.</strong>
                </p>
                <p>
                    <em>Leader developer 최원영</em><br>
                    <em>Data dommunication developer 박정빈</em><br>
                    <em>Database developer 김창현</em>
                </p>
            </dd>
        </dl>
    </footer>
</div>


</body>
</html>