<!DOCTYPE html>
<html>
<head>
    <title>SR Mornitoring System</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/static/js/canvasjs.min.js"></script>


    <script language="javascript">
        function loadMainPage() {
            var chart = new CanvasJS.Chart("chartContainer",
            {
                theme: "theme2",
                animationEnabled: true,
                data: [
                {
                    type: "pie",
                    indexLabelFontColor: "MistyRose",
                    indexLabelLineColor: "darkgrey",
                    indexLabelPlacement: "inside",
                    dataPoints: [
                        {  y: 5, exploded: true, indexLabel: "Activate" },
                        {  y: 2, indexLabel: "Close" }
                    ]
                }
                ]
            });
            chart.render();


        }

        var map;

        function initMap() {


            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 35.232136 , lng:129.083543},
                zoom: 15
            });


            //{% for i in data %}
            //{{ i["sns"] }}
            //{% endfor %}


            var myLatlng = new google.maps.LatLng(35.232136,129.083543);
            var marker = new google.maps.Marker({
                position: myLatlng
            });
            var infowindow = new google.maps.InfoWindow({
											content: "안뇽하세용 자전거 휠 입니다"
			});
            marker.setMap(map);
            infowindow.open(map, marker);
            marker.addListener('click', function() {
                infowindow.open(map, marker);
            });




            var myLatlng2 = new google.maps.LatLng(35.230150,129.074560);
            var marker2 = new google.maps.Marker({
                position: myLatlng2
            });
            var infowindow2 = new google.maps.InfoWindow({
											content: "이건 sns라고 하는거야"
			});
            marker2.setMap(map);
            infowindow2.open(map, marker2);
            marker2.addListener('click', function() {
                infowindow.open(map, marker2);
            });



            var myLatlng3 = new google.maps.LatLng(35.236136,129.093543);
            var marker3 = new google.maps.Marker({
                position: myLatlng3
            });
            var infowindow3 = new google.maps.InfoWindow({
											content: "sns로 통하는 세상"
			});
            marker3.setMap(map);
            infowindow3.open(map, marker3);
            marker3.addListener('click', function() {
                infowindow3.open(map, marker3);
            });






        }














    </script>


</head>
<body style=' background: white ' onload="loadMainPage()">


<div class="container">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img alt="Brand" width="30px" height="30px" src="/static/images/placeholder.png">
                    Smart-Riding admin system</a>
            </div>
            <div class="collapse navbar-collapse ">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/#">Information</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="jumbotron" style=' background-image:url("/static/images/bike_background.jpg");'>
        <h1>Mornitoring System</h1>
        <p>
            <font style='background: rgba(225, 225, 225, .7);'> - "LoRa통신을 활용한 사물인터넷 전동휠 추적 서비스" 모니터링 페이지 입니다.</font>
        </p>
    </div>


    <h1 class="page-header"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>&nbsp;전동휠 status</h1>

    <div class="row">
        <div class="col-md-7">

            <div id="map" style="width:100%; height:500px;"></div>


        </div>

        <div class="col-md-5">
            <table class="table table-hover" style="width:100%; height:240px;">
                <thead>
                <tr class="info">
                    <th>ID</th>
                    <th>Location</th>
                    <th>SNS</th>
                </tr>
                </thead>
                <tbody style="overflow-y: scroll;height: 225px;width: 94%;position: absolute;">

                <tr>
                    <td>idssdf1</td>
                    <td>Nosadfsfne</td>
                    <td>snasdfass1</td>
                </tr>

                <tr>
                    <td>idsadf2</td>
                    <td>Nosadfafsane</td>
                    <td>snsasfdsf2</td>
                </tr>

                <tr>
                    <td>id2sdf3</td>
                    <td>Nonasfsadfe</td>
                    <td>snssdvdv3</td>
                </tr>

                <tr>
                    <td>idsv4</td>
                    <td>Nondsve</td>
                    <td>snsvasdv4</td>
                </tr>

                <tr>
                    <td>id5</td>
                    <td>None</td>
                    <td>sns5</td>
                </tr>

                <tr>
                    <td>id5</td>
                    <td>Noasvne</td>
                    <td>sns5</td>
                </tr>
                <tr>
                    <td>id5</td>
                    <td>Nosdvne</td>
                    <td>snavsvs5</td>
                </tr>
                <!--
                {% for i in data %}
                <tr>
                    <td>{{ i["id"] }}</td><td>None</td></td><td>{{ i["sns"] }}</td>
                </tr>
                {% endfor %}

                -->
                </tbody>
            </table>
            <div class="row" id="chartContainer" style="height: 240px; width: 100%;">

            </div>


        </div>
    </div>


    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAhL4TBUX1yFnwJ9n3fLrCcMsWIKmGQ6cA&callback=initMap"
            async defer></script>


    <h1 class="page-header"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;사용자 리스트</h1>


    <hr>
    <footer>
        <dl class="dl-horizontal">
            <dt><img src="/static/images/pnu_logo.jpg"/></dt>
            <dd>
                <p>
                    <strong>&copy; 2016 금정산 라이더스. All rights reserved.</strong>
                </p>
                <p>
                    <em>Leader developer 최원영</em><br>
                    <em>Data dommunication developer 박정빈</em><br>
                    <em>Database developer 김창현</em>
                </p>
            </dd>
        </dl>
    </footer>
</div>


</body>
</html>