<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="riders.gumjung.smart.smartridingservice">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".GeoFenceActivity" android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name=".DragonSnsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ExerciseGoActivity" android:screenOrientation="landscape"/>
        <activity android:name=".ExerciseListActivity" android:screenOrientation="portrait"/>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC7HUT1WZuOvI4pc0zau3PfHh_v0CG5CLc" />

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission
        android:name="riders.gumjung.smart.smartridingservice.locationapi.maps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="riders.gumjung.smart.smartridingservice.locationapi.maps.permission.MAPS_RECEIVE" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
</manifest>

