<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="riders.gumjung.smart.smartridingservice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="riders.gumjung.smart.smartridingservice.locationapi.maps.permission.MAPS_RECEIVE" />


    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">

        <activity
            android:keepScreenOn="true"
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".GeoFenceActivity" android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:keepScreenOn="true"/>
        <activity android:name=".DragonSnsActivity" android:screenOrientation="portrait"
            android:keepScreenOn="true"/>
        <activity android:name=".ExerciseGoActivity" android:screenOrientation="portrait"
            android:keepScreenOn="true"/>
        <activity android:name=".ExerciseListActivity" android:screenOrientation="portrait"
            android:keepScreenOn="true"/>
        <activity android:name=".ExerciseListLogMapActivity" android:screenOrientation="portrait"
            android:keepScreenOn="true"/>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC7HUT1WZuOvI4pc0zau3PfHh_v0CG5CLc" />







        <!-- [START firebase_service] -->
        <service
            android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->
        <!-- [START firebase_iid_service] -->
        <service
            android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <!-- [END firebase_iid_service] -->


    </application>
    <permission
        android:name="riders.gumjung.smart.smartridingservice.locationapi.maps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
</manifest>

